
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Fitness Tests</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding="true" class="has-header">
  <div id="Cardio" style="height: 250px;"></div>
  <div class="row">
      <div id="stressTest"  style="float:left;width:50%;  height: 160px;"></div>
      <div id="wellnessIndex"  style="float:left;width:50%;  height: 160px;"></div>
    </div>
  
  <div class="trellis" >
      <div style="float:left;width:50%;  height: 100px;"></div>
      <div style="float:left;width:50%;  height: 100px;"></div>
        <div style="float:left;width:50%;  height: 100px;"></div>
        <div style="float:left;width:50%;  height: 100px;"></div>
      <div style="float:left;width:50%;  height: 100px;"></div>
      <div style="float:left;width:50%;  height: 100px;"></div>
    </div>
</ion-content>


<!-- 
<ion-content padding>

  <ion-list>

    <button ion-item *ngFor="let fitness_test of fitness_tests" (click)=getFitnessTesdivetails(fitness_test)>

      {{fitness_test.test_date | date}}
      <p>
        Weight: {{fitness_test.weight}}
      </p>
      <p>
        Fat %: {{fitness_test.fat_percentage}}
      </p>
      <p>
        Body Age: {{fitness_test.body_age}}
      </p>

        <ion-badge item-right color="secondary" *ngIf="fitness_test.current">
          Current
        </ion-badge>
      
    </button>

  </ion-list>

</ion-content> -->