<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="fitness_test_id == null">Schedule For This Week</ion-title>
    <ion-title *ngIf="fitness_test_id != null">Schedule For Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list inset>

    <button ion-item *ngFor="let schedule of schedules" (click)=rateSchedule(schedule)>

      <ion-item class="schedule_header" text-wrap text-center [style.backgroundColor]="(schedule.workout_type != 'Strength') ? '#32db64' : '#488aff'">
        <h2>{{schedule.scheduled_date | date}} : {{schedule.workout_type}}</h2>
        <ion-icon name='checkbox' item-right *ngIf="schedule.completed"></ion-icon>
        <ion-icon name='warning' item-right *ngIf="schedule.completed==false"></ion-icon>
      </ion-item>
      
      <div *ngIf="schedule.workout_type != 'Strength'">
        <ion-item>
          <ion-row>
            <ion-col text-wrap>
              Activity Time:
            </ion-col>
            <ion-col text-wrap>
              {{schedule.exercise.activity_time}} mins
            </ion-col>
            <ion-col text-wrap>
              Activity Speed:
            </ion-col>
            <ion-col text-wrap>
              {{schedule.exercise.activity_speed}} Kmh
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item>
          <ion-row>
            <ion-col text-wrap>
              Recovery Time
            </ion-col>
            <ion-col text-wrap>
              {{schedule.exercise.recovery_time}} mins
            </ion-col>
            <ion-col text-wrap>
              Recovery Speed:
            </ion-col>
            <ion-col text-wrap>
              {{schedule.exercise.recovery_speed}} Kmh
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item>
          <ion-row>
            <ion-col text-wrap>
              Repeats:
            </ion-col>
            <ion-col text-wrap>
              {{schedule.exercise.repeats}}
            </ion-col>
            <ion-col text-wrap>
              Total Duration:
            </ion-col>
            <ion-col text-wrap>
              {{schedule.exercise.total_duration}} mins
            </ion-col>
          </ion-row>
        </ion-item>
      </div>

    </button>

    <div *ngIf="!schedules || schedules.length == 0">
      <ion-card-title class="center">
        Your workout schedule needs to be created.
      </ion-card-title>
      <p>
        Please click the button below to create your workout schedule. Choose the days you want to schedule the appropriate workout
        on.
      </p>

      <button ion-button full color="primary" (click)="createSchedule()">Create Schedule</button>
    </div>


  </ion-list>



</ion-content>