schedules {
    .add-border ion-col {
        border: 1px solid #e6e6e6;;
    }
    .calender-height {
        height: 54%;
    }

    .content-height {
        height: 44%;
    }

    .height-70 {
        height: 70%;
    }

    .height-30 {
        height: 30%;
    }

    .height-70 ion-row {
        height: 33%;
    }
}